
.dashboard-container{
    display: flex;
    gap: 3rem;
}

.dashboard-body{
    width: 100%;
}

.sidebar{
    display: flex;
    flex-direction: column;
    background: #DEDADA;
    height: 100vh;
    /* padding: 0 3rem; */
    padding: 4rem 3rem 0rem 3rem;
    position: relative;
}

.sidebar .sidebar-menu{
    position: absolute;
    top: 0;
    left: 0;
}

.sidebar .sidebar-header{
    color: #000;
    /* text-align: center; */
    /* font-family: Roboto; */
    font-size: 3rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 1.75rem;
}

.sidebar .sidebar-nav{
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    color: #000;
    /* text-align: center; */
    /* font-family: Roboto; */
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 75% */
}

.sidebar-nav-link {
  font-size: 2rem;
  color: #000;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 0.2s;
}

.sidebar-nav-link:hover {
  color: #478D52;
}

    
    /* workspaces navbar */

.workspace-nav-container{
    display: flex;
    gap: 2rem;
    margin-top: 4rem;
}

.workspace-nav-container .workspace-nav-link{
    color: #000;
font-size: 1.5rem;
font-style: normal;
font-weight: 400; /* 2.10938rem */
}

.workspace-nav-container .workspace-nav-link.active {
    color: #000;
    /* font-family: Roboto; */
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700; /* 2.10938rem */
  }

  .workspace-body-container{
    margin-top: 1rem;
  }

  .workspace-body-container .workspace-body-header{
    display: flex;
    gap: 1rem;
    color: #000;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
  }

  .workspace-body-container .workspace-form{
    margin-top: 2.6rem;
  }

  .workspace-body-container .workspace-form label{
    color: #000;
    font-family: Roboto;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
  }


  .continue-button {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0.5rem 1.5rem;
    border-radius: 0.3125rem;
    background: #478D52;
    margin-top: 7rem;
    max-width: 485px;
    width: 100%; /* Make the button 100% width initially */
}


@media (max-width: 485px) {
    .continue-button {
        max-width: 100%; 
    }
}

  .workspace-body-container .workspace-form p{
    color: #000;
    font-family: Roboto;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    margin-top: 2rem;
  }

  .workspace-body-container .workspace-form .checkbox1, .checkbox2 {
    display: flex;
    gap: 2rem;
  }

/* Style the select element */
.dropdown {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    font-size: 16px; /* Adjust font size as needed */
    color: #333; /* Text color */
    cursor: pointer;
    width: 50%;
  }
  
  /* Style the select element when it's hovered */
  .dropdown:hover {
    border-color: #007bff; /* Border color on hover */
  }
  
